<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div th:if="${session.containsKey('failureCount')} AND ${session.failureCount} !=null AND ${session.failureCount} >= 3"
             class="g-recaptcha" data-sitekey="6LclSLEUAAAAAM7kl5HhPiDaz-dyjwaERGWo_Jk2"></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</body>
</html>